@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.container {
  width: 80vw;
  max-width: 700px;
  margin: 5rem auto;
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 400;
}

.form {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

input[type="text"] {
  border: 1px solid #e2e8f0;
  outline: none;
  border-right: none;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  padding: 0 0.5rem;
  width: 70%;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;
}

.btn-add {
  background-color: #06b6d4;
  color: white;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

.item-container {
  margin: 1rem auto;
  max-width: 500px;
}

.single-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.btn-del {
  color: white;
  background-color: #222222;
}
